<div class="wrapper">
<div class="push"></div>

<h2 class="text-center font-weight-bold py-5">Sign up</h2>

<div class="login-form">

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :username,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :teacher %>
      <%= f.label(:school_name, "School Code (optional)") %>
      <%= f.text_field :school_name %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: "btn btn-default btn-primary"  %>
    </div>
  <% end %>

  <div class="fancy-link">
    <%= render "devise/shared/links" %>
  </div>

</div>

<div class="push"></div>
</div>
