<div class="wrapper">
  <div class="push"></div>

    <%# headline %>

  <h1 class="ml7 text-center">
    <span class="text-wrapper">
      <span class="letters">Add a Class!</span>
    </span>
  </h1>

  <%# form for new class %>

  <div class="form-body">
    <%= simple_form_for(@group) do |f|  %>
      <%= f.input :name, :label => 'Class Name' %>

      <h3 class="text-dark">Add students to this class:</h3>


      <h3 class="text-dark">Would you like to assign subjects to this class?</h3>
      <div class="yes-no">
        <div class="box">
          <%= f.check_box :subject_boolean, id: :one %>
          <span class="check"></span>
          <%= f.label :yes, for: :one  %>
        </div>
        <div class="box">
          <%= f.check_box :subject_boolean, id: :two %>
          <span class="check"></span>
          <%= f.label :no, for: :two  %>
        </div>
      </div>
    <% end %>
  </div>

</div>
