<div class="wrapper">
  <div class="push"></div>

    <%# headline %>

  <h1 class="ml7 text-center">
    <span class="text-wrapper">
      <span class="letters">Add a Class!</span>
    </span>
  </h1>

  <%# form for new class %>

  <div class="form-body">
    <%= simple_form_for [@group] do |f|  %>

      <%# add class name %>

      <%= f.input :name, :label => 'Class Name' %>

      <%# add student names %>

      <h3 class="text-dark add-student-heading p-4">Add students to this class:</h3>

      <%= simple_form_for [@user] do |f|  %>

        <div class="single-input text-center">
          <%= render partial: 'form'  %>
          <%# <div class="input-add">
            <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1657545279/Depositphotos_13203627_S_uydpbw.png")  %>
          <%# </div> %>
        </div>

        <br>
        <%= f.button :submit, 'Submit Students', class: "primary-btn" %>
        <br>

      <% end %>

      <%# assign subjects %>

      <h3 class="p-3 question-heading text-dark" >Would you like to assign subjects to this class?</h3>
      <div class="yes-no">
        <div class="box" >
          <%= f.check_box :subject_boolean, id: :one %>
          <span class="check"></span>
          <%= f.label :yes, for: :one %>
        </div>
        <div class="box" >
          <%= f.check_box :subject_boolean, id: :two %>
          <span class="check"></span>
          <%= f.label :no, for: :two %>
        </div>
      </div>

      <%# list of subjects to select %>

      <div class="select-subjects invisible">
        <% @subjects.each do |subject| %>
          <%= f.input :name, class: :box  %>
        <% end %>
      </div>

      <%= f.button :submit, 'Submit', class: "primary-btn" %>

    <% end %>
  </div>
  <div class="push"></div>
  <div class="push"></div>
  <div class="push"></div>
</div>
