<div class="wrapper">
  <div class="push"></div>
  <%# greeting %>
  <h1 class="ml7 text-center">
    <span class="text-wrapper">
      <span class="letters">Hi, <%= current_user.username  %>!</span>
    </span>
  </h1>
  <%# teacher content: main heading %>
  <h1 class="text-center instructions">What would you like to do today?</h1>
  <%# teacher content: main buttons %>
  <div class="main-btn-group text-center teacher-btn-main">
    <div class="main-btn see-subjects">
      <div class="cover-img">
        <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1653932681/Depositphotos_404606460_S_cmj2t6.jpg")  %>
      </div>
      <h3>See My Subjects</h3>
    </div>

     <div class="main-btn edit-subjects">
      <div class="cover-img">
        <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1653932681/Depositphotos_404606460_S_cmj2t6.jpg")  %>
      </div>
      <h4>Change Subjects or Students</h4>
    </div>
  </div>

  <%# If teacher clicks on See My Subjects %>

  <%# If teacher clicks on Edit My Subjects %>

  <div class="invisible main-btn-group text-center teacher-btn-edit">
    <%= link_to new_subject_path do  %>
      <div class="main-btn more-edit">
        <div class="cover-img">
          <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1653932681/Depositphotos_404606460_S_cmj2t6.jpg")  %>
        </div>
        <h3>Add a Subject</h3>
      </div>
    <% end %>
    <div class="main-btn more-edit">
      <div class="cover-img">
        <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1653932681/Depositphotos_404606460_S_cmj2t6.jpg")  %>
      </div>
      <h3>Delete a Subject</h3>
    </div>
    <div class="main-btn more-edit">
      <div class="cover-img">
        <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1653932681/Depositphotos_404606460_S_cmj2t6.jpg")  %>
      </div>
      <h4>Change Students in a Subject</h4>
    </div>
    <%= link_to new_group_path do  %>
      <div class="main-btn more-edit">
        <div class="cover-img">
          <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1653932681/Depositphotos_404606460_S_cmj2t6.jpg")  %>
        </div>
        <h3>Add or Remove a Class List</h3>
      </div>
    <% end %>
  </div>

</div>
